<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: "Roboto";
            src: url("./renderer/font/Roboto.ttf") format('truetype');
        }

        .main {
            font-family: "Roboto";
            position: relative;
            box-sizing: border-box;
            width: 1000px;
            padding: 1rem;
            display: grid;
            justify-items: stretch;
            gap: 0.5rem 0;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            font-size: 1.8em;
            color: white;
            background-color: #343434;
        }

        .divider {
            padding: 1px 0 0 0;
            background-color: grey;
        }

        /* Global stats section */

        .global-section {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            font-size: 1.2em;
        }

        .z-index-container {
            z-index: 2;
        }

        .background {
            top: 16px;
            left: 16px;
            width: 968px;
            height: 216px;
            object-fit: cover;
            position: absolute;
            -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0.5));
            mask-image: linear-gradient(rgb(0 0 0 / 0.5),
                    rgb(0 0 0 / 0.5));
        }

        .user {
            display: grid;
            grid-template-columns: repeat(5, min-content);
            gap: 0.2em;
            justify-content: center;
            align-items: center;
            height: 152;
            font-size: 1.3em;
            text-align: center;
            white-space: nowrap;
        }

        .dogtag-container {
            position: relative;
            height: 90;
            width: 90;
        }

        .dogtag-dogtag {
            height: 90px;
            width: 90px;
        }

        .dogtag-dogtag_bg {
            z-index: -1;
            position: absolute;
            height: 90;
            width: 90;
            top: 0;
            left: 0;
        }

        .region-box {
            background-color: rgba(200, 200, 200, 0.15);
            justify-content: center;
            border-radius: 10px;
            font-size: 0.5em;
            align-content: center;
            display: grid;
            padding: 0.2em;
        }

        .global-title {
            padding: 0.4rem 0;
            font-size: 1.3em;
            font-weight: bold;
            text-align: center;
        }

        .global-pr {
            justify-self: stretch;
            padding: 0.8rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.1em;
        }

        .global-stats-table {
            padding: 15px 0px;
            gap: 10px;
            justify-self: stretch;
            display: grid;
            justify-items: center;
            justify-content: space-around;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: row;
        }

        .label-text {
            color: #EEEEEE;
        }

        .global-stats-box {
            background-color: #393939;
            border-radius: 10px;
            padding: 0.3em;
            gap: 0.3em;
            justify-self: stretch;
            display: grid;
            justify-items: center;
        }


        .global-stats-data {
            font-weight: bold;
        }


        /* Division stats section */

        .division-stats-section {
            padding: 0.4rem 0;
            display: grid;
            justify-content: stetch;
            gap: 0.4rem 0;
        }

        .division-stats-table {
            background-color: #404040;
            border-radius: 10px;
        }

        .division-stats-row {
            justify-self: stretch;
            display: grid;
            justify-items: center;
            justify-content: space-between;
            padding: 8px 0 8px;
            grid-template-columns: repeat(8, 1fr);
            font-size: 0.9em;
        }


        .division-stats-data {
            font-weight: bold;
        }

        .by-ship-stats-section {
            padding: 0.4rem 0;
            display: grid;
            justify-content: stetch;
            gap: 0.4rem 0;
        }

        .division-stats-title {
            justify-self: center;
            padding: 7px 0;
            font-size: 1.2em;
            font-weight: bold;
        }

        .per-ship-table {
            background-color: #404040;
            border-radius: 10px;
        }

        .ship-storo {
            font-weight: bold;
        }

        .ship-table-row {
            justify-self: stretch;
            display: grid;
            justify-items: center;
            justify-content: space-between;
            padding: 11.5px 0 11.5px;
            grid-template-columns: 0.8fr 2fr 0.5fr 1fr 1fr 1.2fr 1fr 1fr 1fr;
            font-size: 0.8em;
        }
    </style>

</head>

<body>
    <div class="main">
        <section class="global-section">
            <img src={{user.banner}} class="background" onerror="this.style.display='none'" />
            <div class="z-index-container">
                <div class="user">
                    <div class="dogtag-container">
                        <img class="dogtag-dogtag" src="{{user.dogtag}}" onerror="this.style.display='none'">
                        <img class="dogtag-dogtag_bg" src="{{user.dogtag_bg}}" onerror=" this.style.display='none'">
                    </div>
                    {{#clan}}
                    <span style="color: {{clan.color}};">[{{clan.tag}}]</span>
                    {{/clan}}
                    <span class="user-id">{{user.ign}}</span>
                    <span class="region-box">{{user.region}}</span>
                </div>
                <div class="global-title">Recent {{day}} days stats {{suffix}}</div>
            </div>
            <div class="global-pr" style="background-color: {{main.pr.color}};"><span class="pr-data">PR
                    {{main.pr.value}}</span></div>
            <div class="global-stats-table">
                <div class="global-stats-box">
                    <div class="global-stats-label battles-label label-text">Battles</div>
                    <div class="global-stats-data battles-data">{{main.battles}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label winrate-label label-text">Win rate</div>
                    <div class="global-stats-data winrate-data" style="color: {{main.winrate.color}};">
                        {{main.winrate.value}}%</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-dmg-label label-text">Dmg</div>
                    <div class="global-stats-data avg-dmg-data" style="color: {{main.dmg.color}};">
                        {{main.dmg.value}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-frags-label label-text">Frags</div>
                    <div class="global-stats-data avg-frags-data" style="color: {{main.frags.color}};">
                        {{main.frags.value}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-planes-label label-text">Planes</div>
                    <div class="global-stats-data avg-planes-data" style="color: {{main.planes.color}};">
                        {{main.planes.value}}</div>
                </div>
            </div>
        </section>
        <div class="divider"></div>
        <section class="division-stats-section">
            <div class="division-stats-title">By division type</div>
            <div class="division-stats-table">
                <div class="division-stats-row">
                    <div class="division-stats-label empty"></div>
                    <div class="division-stats-label battles-label label-text">BTL</div>
                    <div class="division-stats-label exp-label label-text">Bxp</div>
                    <div class="division-stats-label pr-label label-text">PR</div>
                    <div class="division-stats-label winrate-label label-text">Win rate</div>
                    <div class="division-stats-label avg-dmg-label label-text">Dmg</div>
                    <div class="division-stats-label avg-frags-label label-text">Frags</div>
                    <div class="division-stats-label avg-planes-label label-text">Planes</div>
                </div>
                {{#div.pvp_solo}}
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-pvp_solo">Solo</div>
                    <div class="division-stats-data battles-data division-type-pvp_solo">{{div.pvp_solo.battles}}</div>
                    <div class="division-stats-data exp-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.exp.color}};">{{div.pvp_solo.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.pr.color}};">{{div.pvp_solo.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.winrate.color}};">{{div.pvp_solo.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.dmg.color}};">{{div.pvp_solo.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.frags.color}};">{{div.pvp_solo.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-pvp_solo"
                        style="color: {{div.pvp_solo.planes.color}};">{{div.pvp_solo.planes.value}}</div>
                </div>
                {{/div.pvp_solo}}
                {{#div.pvp_div2}}
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-pvp_div2">Div 2</div>
                    <div class="division-stats-data battles-data division-type-pvp_div2">{{div.pvp_div2.battles}}</div>
                    <div class="division-stats-data exp-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.exp.color}};">{{div.pvp_div2.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.pr.color}};">{{div.pvp_div2.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.winrate.color}};">{{div.pvp_div2.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.dmg.color}};">{{div.pvp_div2.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.frags.color}};">{{div.pvp_div2.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-pvp_div2"
                        style="color: {{div.pvp_div2.planes.color}};">{{div.pvp_div2.planes.value}}</div>
                </div>
                {{/div.pvp_div2}}
                {{#div.pvp_div3}}
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-pvp_div3">Div 3</div>
                    <div class="division-stats-data battles-data division-type-pvp_div3">{{div.pvp_div3.battles}}</div>
                    <div class="division-stats-data exp-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.exp.color}};">{{div.pvp_div3.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.pr.color}};">{{div.pvp_div3.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.winrate.color}};">{{div.pvp_div3.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.dmg.color}};">{{div.pvp_div3.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.frags.color}};">{{div.pvp_div3.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-pvp_div3"
                        style="color: {{div.pvp_div3.planes.color}};">{{div.pvp_div3.planes.value}}</div>
                </div>
                {{/div.pvp_div3}}
                {{#div.rank_solo}}
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-rank_solo">Rank</div>
                    <div class="division-stats-data battles-data division-type-rank_solo">{{div.rank_solo.battles}}
                    </div>
                    <div class="division-stats-data exp-data division-type-rank_solo"
                        style="color: {{div.rank_solo.exp.color}};">{{div.rank_solo.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-rank_solo"
                        style="color: {{div.rank_solo.pr.color}};">{{div.rank_solo.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-rank_solo"
                        style="color: {{div.rank_solo.winrate.color}};">{{div.rank_solo.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-rank_solo"
                        style="color: {{div.rank_solo.dmg.color}};">{{div.rank_solo.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-rank_solo"
                        style="color: {{div.rank_solo.frags.color}};">{{div.rank_solo.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-rank_solo"
                        style="color: {{div.rank_solo.planes.color}};">{{div.rank_solo.planes.value}}</div>
                </div>
                {{/div.rank_solo}}
            </div>
        </section>
        <div class="divider"></div>
        <section class="by-ship-stats-section">
            <div class="division-stats-title">Stats by ship</div>
            <div class="per-ship-table">
                <div class="ship-table-row">
                    <div class="per-ship-lbl empty label-text">Tier</div>
                    <div class="per-ship-lbl empty label-text">Warship</div>
                    <div class="per-ship-lbl battles-label label-text">BTL</div>
                    <div class="per-ship-lbl exp-label label-text">Bxp</div>
                    <div class="per-ship-lbl pr-label label-text">PR</div>
                    <div class="per-ship-lbl winrate-label label-text">Win rate</div>
                    <div class="per-ship-lbl avg-dmg-label label-text">Dmg</div>
                    <div class="per-ship-lbl avg-frags-label label-text">Frags</div>
                    <div class="per-ship-lbl avg-planes-label label-text">Planes</div>
                </div>
                {{#ships}}
                <div class="ship-table-row">
                    <div class="per-ship-tier ship-storo">{{info.tier}}</div>
                    <div class="per-ship-name ship-storo">{{info.short_name}}</div>
                    <div class="per-ship-battles ship-storo">{{stats.battles}}</div>
                    <div class="per-ship-exp ship-storo" style="color: {{stats.exp.color}};">{{stats.exp.value}}</div>
                    <div class="per-ship-pr ship-storo" style="color: {{stats.pr.color}};">{{stats.pr.value}}</div>
                    <div class="per-ship-winrate ship-storo" style="color: {{stats.winrate.color}};">
                        {{stats.winrate.value}}%</div>
                    <div class="per-ship-dmg ship-storo" style="color: {{stats.dmg.color}};">{{stats.dmg.value}}</div>
                    <div class="per-ship-frags ship-storo" style="color: {{stats.frags.color}};">{{stats.frags.value}}
                    </div>
                    <div class="per-ship-planes ship-storo" style="color: {{stats.planes.color}};">
                        {{stats.planes.value}}</div>
                </div>
                {{/ships}}
            </div>

            <!--  <div class="signature">[PANTS]B2U</div>  -->
    </div>
</body>

</html>
<script>
    // round corner stuff
    let arr_ship_data = document.getElementsByClassName('division-stats-row');
    for (let i = 0; i < arr_ship_data.length; i++) {
        if (i % 2 != 0 && i == (arr_ship_data.length - 1)) {
            arr_ship_data[i].style.backgroundColor = "#383838";
            arr_ship_data[i].style.borderBottomLeftRadius = "10px";
            arr_ship_data[i].style.borderBottomRightRadius = "10px";
        } else if (i % 2 != 0) {
            arr_ship_data[i].style.backgroundColor = "#383838";
        }
    }
</script>
<script>
    // round corner stuff
    let per_ship_data = document.getElementsByClassName('ship-table-row');
    for (let i = 0; i < per_ship_data.length; i++) {
        if (i % 2 != 0 && i == (per_ship_data.length - 1)) {
            per_ship_data[i].style.backgroundColor = "#383838";
            per_ship_data[i].style.borderBottomLeftRadius = "10px";
            per_ship_data[i].style.borderBottomRightRadius = "10px";
        } else if (i % 2 != 0) {
            per_ship_data[i].style.backgroundColor = "#383838";
        }
    }
</script>
<script>
    // round main height
    window.addEventListener("load", () => {
        let main = document.querySelector('.main');
        let height = main.offsetHeight - 1;
        main.style.height = height;
    })
</script>