<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @font-face {
            font-family: "Roboto";
            src: url("./renderer/font/Roboto.ttf") format('truetype');
        }

        .main {
            font-family: "Roboto";
            position: relative;
            box-sizing: border-box;
            width: 1000px;
            padding: 1rem;
            display: grid;
            justify-items: stretch;
            gap: 0.5rem 0;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            font-size: 1.8em;
            color: white;
            background-color: #343434;
        }

        .divider {
            padding: 2px 0 0 0;
            background-color: grey;
        }

        /* Global stats section */

        .global-section {
            display: grid;
            justify-items: center;
            grid-template-columns: 1fr;
            grid-auto-flow: row;
            font-size: 1.2em;
        }

        .z-index-container {
            z-index: 2;
        }

        .background {
            top: 16px;
            left: 16px;
            width: 968px;
            height: 216px;
            object-fit: cover;
            position: absolute;
            -webkit-mask-image: linear-gradient(rgb(0 0 0 / 0.7),
                    rgb(0 0 0 / 0.7));
            mask-image: linear-gradient(rgb(0 0 0 / 0.7),
                    rgb(0 0 0 / 0.7));
        }

        .user {
            display: grid;
            grid-template-columns: repeat(5, min-content);
            gap: 0.2em;
            justify-content: center;
            align-items: center;
            height: 152;
            font-size: 1.3em;
            text-align: center;
            white-space: nowrap;
        }

        .dogtag-container {
            position: relative;
            height: 90;
            width: 90;
        }

        .dogtag-dogtag {
            height: 90px;
            width: 90px;
        }

        .dogtag-dogtag_bg {
            z-index: -1;
            position: absolute;
            height: 90;
            width: 90;
            top: 0;
            left: 0;
        }

        .region-box {
            background-color: rgba(200, 200, 200, 0.15);
            justify-content: center;
            border-radius: 10px;
            font-size: 0.5em;
            align-content: center;
            display: grid;
            padding: 0.2em;
        }

        .global-title {
            padding: 0.4rem 0;
            font-size: 1.3em;
            font-weight: bold;
            display: grid;
            grid-template-columns: min-content min-content;
            gap: 0.4em;
            align-items: center;
            align-items: center;
            justify-content: center;
        }

        .ship-name {
            text-align: center;
            white-space: nowrap;
        }

        .global-pr {
            justify-self: stretch;
            padding: 0.8rem 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 1.1em;
        }

        .global-stats-table {
            padding: 15px 0px;
            gap: 10px;
            justify-self: stretch;
            display: grid;
            justify-items: center;
            justify-content: space-around;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-flow: row;
        }

        .label-text {
            color: #EEEEEE;
        }

        .ranking-box {
            background-color: rgba(255, 255, 255, 0.25);
            justify-content: center;
            border-radius: 15px;
            font-size: 0.8em;
            align-content: center;
            display: grid;
            padding: 0.2em;
        }

        .global-stats-box {
            background-color: #393939;
            border-radius: 10px;
            padding: 1rem;
            gap: 1rem;
            justify-self: stretch;
            display: grid;
            justify-items: center;
        }


        .global-stats-data {
            font-weight: bold;
        }

        /* Division stats section */

        .division-stats-section {
            padding: 0.4rem 0;
            display: grid;
            justify-content: stetch;
            gap: 0.4rem 0;
        }

        .division-stats-table {
            background-color: #404040;
            border-radius: 10px;
        }

        .division-stats-row {
            justify-self: stretch;
            display: grid;
            justify-items: center;
            justify-content: space-between;
            padding: 8px 0 8px;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            font-size: 0.9em;
        }

        /* Ship class stats section */

        .division-stats-title {
            justify-self: center;
            font-size: 1.2em;
            font-weight: bold;
        }

        .division-stats-data {
            font-weight: bold;
        }
    </style>

</head>

<body>
    <div class="main">
        <section class="global-section">
            <img src={{user.banner}} class="background" onerror="this.style.display='none'" />
            <div class="z-index-container">
                <div class="user">
                    <div class="dogtag-container">
                        <img class="dogtag-dogtag" src="{{user.dogtag}}" onerror="this.style.display='none'">
                        <img class="dogtag-dogtag_bg" src="{{user.dogtag_bg}}" onerror=" this.style.display='none'">
                    </div>
                    {{#clan}}
                    <span style="color: {{clan.color}};">[{{clan.tag}}]</span>
                    {{/clan}}
                    <span class="user-id">{{user.ign}}</span>
                    <span class="region-box">{{user.region}}</span>
                </div>
                <div class="global-title">
                    <span class="ship-name">{{ship.tier}} {{ship.name}} {{suffix}}</span>
                    {{#ranking}}
                    <span class="ranking-box">#{{ranking}}</span>
                    {{/ranking}}
                </div>
            </div>
            <div class="global-pr" style="background-color: {{main_mode.pr.color}};">
                <span class="pr-data">PR {{main_mode.pr.value}}</span>
            </div>
            <div class="global-stats-table">
                <div class="global-stats-box">
                    <div class="global-stats-label battles-label label-text">Battles</div>
                    <div class="global-stats-data battles-data">{{main_mode.battles}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label winrate-label label-text">Win rate</div>
                    <div class="global-stats-data winrate-data" style="color: {{main_mode.winrate.color}};">
                        {{main_mode.winrate.value}}%</div>

                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-dmg-label label-text">Avg. dmg</div>
                    <div class="global-stats-data avg-dmg-data" style="color: {{main_mode.dmg.color}};">
                        {{main_mode.dmg.value}}
                    </div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-frags-label label-text">Avg. frags</div>
                    <div class="global-stats-data avg-frags-data" style="color: {{main_mode.frags.color}};">
                        {{main_mode.frags.value}}</div>

                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-planes-label label-text">Avg. planes</div>
                    <div class="global-stats-data avg-planes-data" style="color: {{main_mode.planes.color}};">
                        {{main_mode.planes.value}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-potential-label label-text">
                        Potential</div>
                    <div class="global-stats-data avg-potential-data">{{main_mode.potential}}</div>
                </div>
                <div class="global-stats-box">
                    <div class="global-stats-label avg-potential-label label-text">Scout dmg</div>
                    <div class="global-stats-data avg-potential-data"">{{main_mode.scout}}</div>
                </div>
                <div class=" global-stats-box">
                        <div class="global-stats-label avg-potential-label label-text">Hit rate</div>
                        <div class="global-stats-data avg-potential-data">{{main_mode.hitrate}}%</div>
                    </div>


                </div>
        </section>
        {{#sub_modes}}
        <div class="divider"></div>
        <section class="division-stats-section">
            <div class="division-stats-title">By division type</div>
            <div class="division-stats-table">
                <div class="division-stats-row">
                    <div class="division-stats-label empty label-text"></div>
                    <div class="division-stats-label battles-label label-text">BTL</div>
                    <div class="division-stats-label bxp-label label-text">Bxp</div>
                    <div class="division-stats-label pr-label label-text">PR</div>
                    <div class="division-stats-label winrate-label label-text">Win rate</div>
                    <div class="division-stats-label avg-dmg-label label-text">Dmg</div>
                    <div class="division-stats-label avg-frags-label label-text">Frags</div>
                    <div class="division-stats-label avg-planes-label label-text">Planes</div>
                </div>
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-solo label-text">Solo</div>
                    <div class="division-stats-data battles-data division-type-solo">{{pvp_solo.battles}}</div>
                    <div class="division-stats-data exp-data division-type-solo" style="color: {{pvp_solo.exp.color}};">
                        {{pvp_solo.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-solo" style="color: {{pvp_solo.pr.color}};">
                        {{pvp_solo.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-solo"
                        style="color: {{pvp_solo.winrate.color}};">{{pvp_solo.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-solo"
                        style="color: {{pvp_solo.dmg.color}};">{{pvp_solo.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-solo"
                        style="color: {{pvp_solo.frags.color}};">{{pvp_solo.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-solo"
                        style="color: {{pvp_solo.planes.color}};">{{pvp_solo.planes.value}}</div>
                </div>
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-div2 label-text">Div 2</div>
                    <div class="division-stats-data battles-data division-type-div2">{{pvp_div2.battles}}</div>
                    <div class="division-stats-data exp-data division-type-solo" style="color: {{pvp_div2.exp.color}};">
                        {{pvp_div2.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-div2" style="color: {{pvp_div2.pr.color}};">
                        {{pvp_div2.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-div2"
                        style="color: {{pvp_div2.winrate.color}};">{{pvp_div2.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-div2"
                        style="color: {{pvp_div2.dmg.color}};">{{pvp_div2.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-div2"
                        style="color: {{pvp_div2.frags.color}};">{{pvp_div2.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-div2"
                        style="color: {{pvp_div2.planes.color}};">{{pvp_div2.planes.value}}</div>
                </div>
                <div class="division-stats-row">
                    <div class="division-stats-label division-type-label division-type-div3 label-text">Div 3</div>
                    <div class="division-stats-data battles-data division-type-div3">{{pvp_div3.battles}}</div>
                    <div class="division-stats-data exp-data division-type-solo" style="color: {{pvp_div3.exp.color}};">
                        {{pvp_div3.exp.value}}</div>
                    <div class="division-stats-data pr-data division-type-div3" style="color: {{pvp_div3.pr.color}};">
                        {{pvp_div3.pr.value}}</div>
                    <div class="division-stats-data winrate-data division-type-div3"
                        style="color: {{pvp_div3.winrate.color}};">{{pvp_div3.winrate.value}}%</div>
                    <div class="division-stats-data avg-dmg-data division-type-div3"
                        style="color: {{pvp_div3.dmg.color}};">{{pvp_div3.dmg.value}}</div>
                    <div class="division-stats-data avg-frags-data division-type-div3"
                        style="color: {{pvp_div3.frags.color}};">{{pvp_div3.frags.value}}</div>
                    <div class="division-stats-data avg-planes-data division-type-div3"
                        style="color: {{pvp_div3.planes.color}};">{{pvp_div3.planes.value}}</div>
                </div>
            </div>
        </section>
        {{/sub_modes}}
        <!--  <div class="signature">[PANTS]B2U</div>  -->
    </div>
</body>

</html>

<script>
    // round corner stuff
    let arr_ship_data = document.getElementsByClassName('division-stats-row');
    for (let i = 0; i < arr_ship_data.length; i++) {
        if (i % 2 != 0 && i == (arr_ship_data.length - 1)) {
            arr_ship_data[i].style.backgroundColor = "#393939";
            arr_ship_data[i].style.borderBottomLeftRadius = "10px";
            arr_ship_data[i].style.borderBottomRightRadius = "10px";
        } else if (i % 2 != 0) {
            arr_ship_data[i].style.backgroundColor = "#393939";
        }
    }
</script>
<script>
    // round main height
    window.addEventListener("load", () => {
        let main = document.querySelector('.main');
        let height = main.offsetHeight - 1;
        main.style.height = height;
    })
</script>